# Environment Variables
.env

# Prompts
*.md
!*_example.md
!README.md

# Model Cache
model

# Virtual Environment
venv

# Database Volumes
milvus/**
!milvus/docker-compose.yml

# Data
chat/*.txt
summary/*.txt
transcript/*.txt

# Others
__pycache__
.DS_Store